{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}"
<div class='row'>
    <div class='col-lg-6 pull-left'>
        <h1>Add Your Friends to Play!</h1>
    </div>
    
    {% if scorecards %}

        <div class='col-lg-6 pull-right' style="padding-top: 3%">
            <a href = "{% url 'gameboard' player_num=1 frame_num=1 %}" class="btn-lg btn-success" role="button">Start Bowling!!!</a>
        </div>

    {% endif %}
</div>
<div class="row">
    <div class='col-lg-5'>
        {% crispy form %}
    </div>
</div>
<h1>Current Players</h1>

{% if scorecards %}
{% for p in scorecards %}

<div class='row'>
    <div class='col-lg-4'?>
        <h3>{{p.player_name}}</h3>
    </div>
</div>
{% endfor %}
{% endif %}
{% if not scorecards %}
<div class='row'>
    <div class='col-lg-4'?>
        <p>You haven't added anyone yet...</p>
    </div>
</div>

{% endif %}

{% endblock %}
