{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang='en' class="no-js">
<!-- BEGIN HEAD -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Zebra Bowl</title>

<!-- MANDATORY STYLES -->
<link href = "{% static "theme.css" %}" rel="stylesheet" type="text/css" />
<link href = "{% static "font-awesome-4.2.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}" type = "text/javascript"></script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Zebra Bowl</a>
    </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'newgame' %}">New Game</a></li>
            </ul>     
        </div>
</div>
<div class="container">
    <div class="col-lg-12">        
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>

